
@{
    ViewBag.Title = "education";
}

<h2>education</h2>
<table class=" table table-bordered ">
    <tr>
        <td>education level</td>
        <td>year</td>
        <td>college Name</td>
    </tr>
    <tr>
        <td> SSC</td>
        <td>2016</td>
        <td>Shibram AL-Haj MD Hossain smrity school and college</td>
    </tr>
    <tr>
        <td> HSC</td>
        <td>2018</td>
        <td>MMSC</td>
    </tr>
</table>
