
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<table class=" table table-bordered ">
    <tr>
        <td>Course name </td>
        <td>Projects name </td>

    </tr>
    <tr>
        <td> C++</td>
        <td>Library management system</td>

    </tr>
    <tr>
        <td> Java</td>
        <td>Bank management system</td>

    </tr>
    <tr>
        <td> C#</td>
        <td>Maid management system</td>

    </tr>
</table>
